numpy==1.26.4
Cython==3.1.2
pmdarima==2.0.4
pandas
requests
rapidfuzz
sqlalchemy
psycopg2-binary
scikit-learn
xgboost
rapidfuzz
requests
gcsfs
google-cloud-storage
openpyxl
pmdarima
google-cloud-pubsub
google-cloud-logging
